*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(147, 14, 76);
    line-height: 160%;
    font-size: 18px;
}

header, main, footer {
    width: 70%;
    margin:  10px auto;
}