<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='faculty.css')}}">
</head>
<body>
    <h2>Faculty Dashboard - {{ name }}</h2>
<table border="1">
<tr>
  <th>Exam</th>
  <th>Date</th>
  <th>Time</th>
  <th>Campus</th>
  <th>Room</th>
</tr>
{% for s in sessions %}
<tr>
  <td>{{ s.name }}</td>
  <td>{{ s.session_date }}</td>
  <td>{{ s.session_time }}</td>
  <td>{{ s.campus_name }}</td>
  <td>{{ s.room_number }}</td>
</tr>
{% endfor %}
</table>
<a href="/">Logout</a>

</body>
</html>
