<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{url_for('static', filename = 'register.css')}}">
</head>
<body>
    <div class="page-wrapper">
        <h2>Create Account</h2>

        <div class="form-box">
            <form action ="/register" method="POST">
                <label>Role:</label><br>
                <select name="role" id="roleSelect" onchange="toggleIDField()">
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>
                </select><br><br>

                <label>First Name:</label><br>
                <input type="text" name="full_name" required><br>

                <label>Last Name:</label><br>
                <input type="text" name="full_name" required><br>

                <label>Email:</label><br>
                <input type="email" name="email" required><br>


                <div id="studentField">
                <label>NSHE Number:</label><br>
                <input type="password" name="nshe_num"><br>
                </div>

                <div id="facultyField" style="display:none;">
                <label>Employee Number:</label><br>
                <input type="password" name="employee"><br>
                </div>

                <label>Password</label><br>
                <input type="password" name="password" required><br>

                <br><button type="submit">Register</button>
            </form>
        </div>
    </div>
    <div class="return">
        <a href="/">Go Back</a>
    </div>

<script>
function toggleIDField() {
  const role = document.getElementById('roleSelect').value;
  document.getElementById('studentField').style.display = role === 'student' ? 'block' : 'none';
  document.getElementById('facultyField').style.display = role === 'faculty' ? 'block' : 'none';
}
</script>
</body>
</html>
